html{
	scroll-behavior: smooth;
}

header, section, footer{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

header{
	height: 100px; 
	background: -webkit-gradient(linear,0 0, 0 50%, from(#ffffff), to(#eb9f23)); 
	background: linear-gradient(25%, #ffffff , #eb9f23)
	background: -moz-linear-gradient(25%, #ffffff , #eb9f23);
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	color: #000;
	font-family: Verdana;
}

#logo_1{
	width: 100px;
	height: 100px;
	background-color: white;
	float: left;
	margin-left: 100px;
	border-radius: 50px;: 
}

#logo_1 a img{
	width: 50%;
	padding: 20px 25px;
}



.botonera{
	width: 200px;
	height: 60px;
	float: right;
}

.botonera ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.botonera li a{
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
	padding: 45px 10px;
}

.botonera li a:hover {
	height: 10px;
	color: black;
}

.menuS ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menuS li{
	flex: 1 0 auto;
	text-align: center;
}

section{
	height: 1650px;
}

#formulario{
	margin-top: 10px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	animation-duration: 3s;
  	animation-name: desplazar;
}

@keyframes desplazar {
  from {
    margin-left: 100%;
    width: 400px;
  }

  to {
    margin-left: 29.3%;
    width: 400px;
  }
}

input, textarea{
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}

#nombre{
	margin-top: 2px;
	width: 960px;
	height: 180px;
}

#contenido{
	width: 400px;
	height: 40px;
	background-color: rgba(0,0,0,1);
	margin-left: auto;
	margin-right: auto; 
	border-bottom-left-radius: 60px;
	border-bottom-right-radius: 60px; 
	margin-bottom: 10px;
	box-shadow: 7px 7px 7px #cccccc;
	-moz-box-shadow: 7px 7px 7px #cccccc;
	-webkit-box-shadow: 7px 7px 7px #cccccc;
}

#contenido p{
	text-align: center;
	font-family: Verdana;
	color: #cccccc;
	font-size: 16px;
}

#bienvenidos{
	width: auto;
	height: 100px;
	background-color: #e8dcc5;
	text-align: center;
}

#bienvenidos h1{
	color: #008000;
	margin-left: 5px;
	font-size: 35px;
	padding: 10px 0;
}

#seccion_derecha{
	width: 400px;
	height: 1152px;
	background-color: #eb9f23;
	float: right;
	font-size: 25px;
	font-family: 'Nerko One', cursive;
	margin-bottom: 20px;
}

#seccion_derecha #contacto{
	width: 380px;
	height: 340px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

#seccion_derecha #contacto #horario{
	width: 360px;
	height: 95px;
	margin-right: auto;
	margin-left: auto; 
	color: #ffffff;
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	border-bottom-left-radius: 45px;
	border-bottom-right-radius: 45px;
	border-top-left-radius: 45px;
	border-top-right-radius: 45px; 
}

#seccion_derecha #contacto #mail{
	width: 360px;
	height: 70px;
	margin-right: auto;
	margin-left: auto; 
	color: #ffffff;
	text-align: center;
	margin-top: 10px;
	background-color: rgba(0,0,0,0.4);
	border-bottom-left-radius: 45px;
	border-bottom-right-radius: 45px;
	border-top-left-radius: 45px;
	border-top-right-radius: 45px; 
}

#seccion_derecha #contacto #telefono{
	width: 360px;
	height: 100px;
	margin-right: auto;
	margin-left: auto; 
	color: #ffffff;
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	border-bottom-left-radius: 45px;
	border-bottom-right-radius: 45px;
	border-top-left-radius: 45px;
	border-top-right-radius: 45px; 
}

figure img{
	width: 150px;
	border: 2px solid #999;
	border-radius: 20px;
}

#seccion_derecha .imagenes-salon{
	height: 700px;
}

#notas p{
	text-align: center;
	width: auto;
	color: red;
	font-size: 15px;
	font-family: Comic Sans MS;
	margin-bottom: 0px;
}

#listas{
	width: 540px;
	margin-bottom: 10px;
	width: auto;
	float: left;
}

#listas p{
	text-indent: 10px;
	font-family: Courier;
	color: #FF0000;
}

#listas ul li{
	background-color: #e8dcc5;
	font-family: Comic Sans MS;
	font-size: 18px;
	list-style: circle;
	margin-bottom: 10px;
}

#listas button{
	margin-left: 140px;
}

#mostrarDatos{
	font-family: Comic Sans MS;
	font-size: 20px;
}

@media all and (min-width: 600px) and (max-width: 1023px){

header, section, footer{
	width: 580px;
}

#post_logo_1{
	width: 80px; 
}

.botonera ul li{
	font-size: 15px;
}

.botonera ul li a{
	padding: px 3px;
}

section{
	height: 1600px;
}

@keyframes desplazar {
  from {
    margin-left: 100%;
    width: 400px;
  }

  to {
    margin-left: 15.5%;
    width: 400px;
  }
}

#nombre{
	width: 580px;
	height: auto;
}

#nombre img{
	width: 100%;
}

#contenido{
	width: 300px;
	height: 30px;
}

#contenido p{
	font-size: 12px;
}

#bienvenidos{
	width: 100%;
}

#bienvenidos p{
	margin-left: 0px; 
	text-align: center;
}

#seccion_derecha{
	width: 250px;
	height: 1079px;
	font-size: 20px;
	margin-bottom: 0px;
}

#seccion_derecha #contacto{
	width: 100%;
	height: auto;
	margin-top: 60px;
}

#seccion_derecha #contacto #horario{
	width: 100%;
	height: auto;
}

#seccion_derecha #contacto #mail{
	width: 100%;
	height: 60px;
}

#seccion_derecha #contacto #telefono{
	width: 100%;
	height: auto;
}

figure img{
	width: 40%;
}

#seccion_derecha .imagenes-salon{
	width: 100%;
	height: auto;
	margin-top: 120px;
	margin-left: 20px;
}

#listas_1{
	width: 325px;
	height: auto;
}

}/*fin media 600x1023px*/

@media all and (max-width: 599px){

header, section, footer{
	width: 90%;
}

header{
	height: auto;
}

#logo_1{
	width: 15%;
}

#logo_1 a img{
	margin-left: 0;
}

#post_logo_1{
	width: 85%; 
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	margin-left: 0;
	float: right;
}

#botonera{
	width: 150px;
	height: auto;
	float: none;
	margin-right: auto;
	margin-left: auto;
	font-size: 11px;
}

.botonera ul{
	margin-right: auto;
	margin-left: auto;
}

.botonera ul li{
	text-align: center;
}

.botonera ul li a{
	padding: 22px 0px;
}

.botonera ul li a:hover {
	width: 100%;
	background: -webkit-gradient(linear,0 0, 0 1%, from(#ffffff), to(#eb9f23));
	color: #000;
	height: auto;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

section{
	width: 350px;
	height: auto;
}

#formulario{
	width: 350px;
}

@keyframes desplazar {
  from {
    margin-left: 100%;
    width: 350px;
  }

  to {
    margin-left: 0;
    width: 350px;
  }
}

#nombre{
	width: 100%;
	height: auto;
}

#nombre img{
	width: 100%;
}

#contenido{
	width: 220px;
	height: 30px; 
}

#contenido p{
	font-size: 12px;
}

#bienvenidos{
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#bienvenidos h1{ 
	font-size: 30px;
	text-align: center;
	padding: 0;
}

#seccion_derecha{
	width: 350px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	float: none;
	font-size: 15px;
	margin-bottom: 0;
}

#seccion_derecha #contacto{
	width: 100%;
	height: auto;
}

#seccion_derecha #contacto #horario{
	width: 90%;
	height: auto;
}

#seccion_derecha #contacto #mail{
	width: 90%;
	height: auto;
}

#seccion_derecha #contacto #telefono{
	width: 90%;
	height: auto;
}

figure img{
	width: 50px;
}

figure .novisible{
	display: none;
}

#seccion_derecha .imagenes-salon{
	height: auto;
	margin-left: 60px;
}

#listas_1{
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	float: none;
	margin-top: 0;
	margin-bottom: 0;
}

#listas_1 p{
	text-align: center;
	text-indent: 0;
	font-size: 25px;
	margin-bottom: 0;
}

#listas_1 ul{
	padding: 0;
	text-align: center;
	list-style: none;
	margin-top: 0;
}

#listas_1 ul li{
	font-size: 15px;
}

#listas_2{
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	float: none;
	margin-top: 0px;
}/*fin media 599px*/